html, body {
    min-height:100%;
    background-image:url(../images/background.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    position:fixed;
    left:1%;
    width:19%;
    display:flex;
    flex-direction:column;
    border: 1px black solid;
    border-radius:2fr;
    height:97%;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

h1 {
    padding-left:10%;
    padding-top:5%;
}

.nav-link {
    padding: 10% 0% 10% 10%;
}

a {
    color:white;
    text-decoration: none;
}

#main-doc {
    position:absolute;
    left:21%;
    width: 78%;
    text-align: justify;
    border: 1px black solid;
    border-radius:2%;
    overflow:hidden;
    color:rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Montserrat', sans-serif;


}

.main-section {
    background-color: rgba(126, 123, 123,0.2);
    border-radius:1fr;
    padding:2%;
}

.main-section:hover {
    background-color: rgba(126, 123, 123,0.5);
    transition:1s;
}


@media (max-width:800px) {
    main {
        background-color:white;
    }
}

